<body style="background-color: black;">
    <main class="vh-100 bg-dark">
      <section class="not-found h-100">
        <div class="container d-flex justify-content-center align-items-center h-100">
          <div class="text-center text-light">
            <h1 class="fw-semibold" style="font-size: 5rem; display: flex;justify-content: center; margin-top: 80px; color: white;">Error <%= code %></h1>
            <img src="/assets/img/error.png" alt="logo" style="margin-left:-9px;width: 373px;">
            <h4 class="fs-3 fw-lighter mb-4" style="display: flex;
            justify-content: center;
            margin-top: -606px;
            margin-bottom: -27px;
            font-size: 30; color: white;"><%= message %></h4>
            <a href="/" style="display: flex;
            justify-content: center;
            margin-top: 50px; color: white;"class="text-light fs-5 text-decoration-none fw-lighter"><i class="fa-solid fa-house-chimney me-2" ></i>Volver al inicio</a>
          </div>
        </div>
      </section>
    </main>
    </body>