<h1 style="font-size: revert; margin-top: 50px; display: flex; justify-content: center;">Productos</h1>
{{#if mostrarProductos}}
    <div >
        <table id="table-products" style="margin: 30px; display: flex; justify-content: center; background-color: #c3c9cf;;" > </table>
    </div>
    {{else}}
    <h3 style="margin-top: 50px; display: flex; justify-content: center; font-style: italic; color: rgb(139, 81, 81); font-size: initial;"> No hay productos</h3>
{{/if}}
